@page "/fetchdata"
@inject HttpClient Http
@inject NavigationManager Nav
@inject IShoppingCartService ShoppingCart
@attribute [Authorize]

<h1>Products</h1>

<p>This component demonstrates fetching products from the server.</p>

@if (products == null) {
    <p><em>Loading...</em></p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th><a @onclick="SortByPrice">Unit Price</a></th>
                <th>Package</th>
                <th>Supplier</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products) {
                <tr class="hover-row" @onclick="@(() => EditProduct(product))">
                    <td>@product.ProductName</td>
                    <td>@product.FormattedPrice</td>
                    <td>@product.Package</td>
                    <td>@(product.Supplier?.CompanyName ?? "Unknown")</td>
                    <td><button class="btn btn-primary" @onclick="@(() => AddToCart(product))" @onclick:stopPropagation>Add</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("api/product?includeSuppliers=true");
    }

    private void AddToCart(Product product)
    {
        ShoppingCart.AddToCart(product, 1);
    }

    private void SortByPrice()
    {
        if (products != null) products = products.OrderByDescending(p => p.UnitPrice).ToArray();
    }

    private void EditProduct(Product p)
    {
        Nav.NavigateTo($"edit/{p.Id}");
    }
}